{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<!-- Top Banner -->
<div class="top-banner">
    <img src="" alt="" class="img-banner">
</div>
<!-- Top Banner -->

<div class="container">
    <div class="row mt-4">
        <!-- Event -->
        <div class="col-md-4 mb-4">
            <div class="pe-3 ps-3 pb-3 border border-primary-subtle">
                <img src="https://cdn1.123job.vn/123job/uploads/2022/02/14/2022_02_14______57163604d24fa323b3a3025a494c50d4.jpg" alt="img-event" class="img-fluid">
                <h2>Tiêu đề</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit labore incidunt quod, aliquid quam a error. Officiis soluta suscipit et excepturi commodi? Mollitia minus et consequatur corporis at natus obcaecati?</p>
                <div class="d-flex justify-content-between">
                    <p class="text-body-secondary">12/12/12</p>
                    <a class="btn btn-primary" href="/chi-tiet">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <!-- Event -->

        <!-- Event -->
        <div class="col-md-4 mb-4">
            <div class="pe-3 ps-3 pb-3 border border-primary-subtle">
                <img src="https://cdn1.123job.vn/123job/uploads/2022/02/14/2022_02_14______57163604d24fa323b3a3025a494c50d4.jpg" alt="img-event" class="img-fluid">
                <h2>Tiêu đề</h2>
                <p>Mô tả</p>
                <div class="d-flex justify-content-between">
                    <div class="text-body-secondary">12/12/12</div>
                    <a class="btn btn-primary" href="/chi-tiet">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <!-- Event -->

        <!-- Event -->
        <div class="col-md-4 mb-4">
            <div class="pe-3 ps-3 pb-3 border border-primary-subtle">
                <img src="https://cdn1.123job.vn/123job/uploads/2022/02/14/2022_02_14______57163604d24fa323b3a3025a494c50d4.jpg" alt="img-event" class="img-fluid">
                <h2>Tiêu đề</h2>
                <p>Mô tả</p>
                <div class="d-flex justify-content-between">
                    <div class="text-body-secondary">12/12/12</div>
                    <a class="btn btn-primary" href="/chi-tiet">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <!-- Event -->
    </div>
</div>

{% endblock %}